.Home {
  text-align: center;
}

.weather-container {
  border: black solid 1px;
  width: 350px;
  margin: 70px auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.weather-detail-container {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.hourly-chart,
.five-days-chart {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.weather-title {
  text-align: left;
}

.weather-list {
  list-style: none;
  padding: 0;
  text-align: left;
  text-transform: capitalize;
}

.weather-temps-and-coords {
  list-style: none;
  padding: 0;
  text-align: left;
  line-height: 25px;
}

.icon {
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: transparent;
  border: transparent;
}

.png-icons {
  width: 40px;
}

.back-icon {
  left: 120px;
  position: absolute;
}

.five-days-chart {
}

.city-input {
  width: 150px;
  margin-right: 15px;
  padding: 5px 30px;
  font-size: large;
  border-radius: 8px;
}

.city-submit {
  font-size: large;
  margin-left: 15px;
  padding: 5px 20px;
  appearance: none;
  border-radius: 8px;
}

.tab {
  margin: 25px 20px;
  font-size: medium;
  width: 150px;
  height: 30px;
}
